<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1><%= yield(:title) %></h1>
    <p>
      This is a website where you can learn about lesser-known Enlightenment philosophers.
    </p>
    <p> More accurately, this will be a website where you can learn about
      lesser-known Enlightenment philosophers.</p>
    <p>Thank you to Professor Tammy Nyden for inspiring and helping with
    this project.</p>
  </body>
</html>
