<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1><%= yield(:title) %></h1>
    <p>
      The Center for Teaching, Learning, and Assessment (CTLA) is dedicated to the mission of enhancing the success of the interactions between teachers and learners by supporting teachers as learners of pedagogy, technology, and assessment in the service of promoting excellent education in the liberal arts.
    </p>
    <p>
      The CTLA's mission is accomplished by the expansion and advancement of faculty development opportunities, the facilitation of teaching techniques using instructional technology, and the advancement of educational skills through the support of learning laboratories in reading, science, math, and writing for students.
    </p>
  </body>
</html>
