<% provide(:title, "Suggest") %>
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1><%= yield(:title) %></h1>
    <p>
      Here, you can suggest new lesser-known philosophers, and vote on which ones you want to be added to this website.
    </p>
  </body>
</html>
