<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Home</h1>
    This website shows connections between Grinnell's goals on the institutional, departmental, and course levels.
  </body>
</html>
