html, body { height: 100%; width: 100%; margin: 0; }

.container {
    /* display: none; */
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 60%;
    height: 80%;
}
.top {
    height:20%;
    width:100%;
}
.top-left {
    width: 15%;
    height: 90%;
    /* border-style:solid; */
    float: left; 
}
.majors-top {
    width:84%;
    height:90%;
    border-style: dotted;
    float: left;
}
.bottom {
    height:80%;
    width:100%;
    /* border-style:dotted; */
}
.courses-left {
    width:14%;
    height:96%;
    float:left;
    border-style:dotted;
}
.chart-container {
    width:84%;
    height:96%;
    margin:0px 0px 0px 0px;
    float:left;
    border-style:dotted;
}
.course-tablinks {
    width:100%;
    height:auto;
    margin:3px 0px;
}
.major-tablinks {
    width:23%;
    height:95%;
    margin:3px 6px;
}
#major-selected {
    background-color: yellow;
}
#course-selected {
    background-color: aquamarine;
}
#hide_element {
    display:none;
}
